@use "../../styles/theme.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 2rem 3rem;
  background-color: theme.$dark-2;
  border-radius: 7px;

  .row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .flag {
    position: absolute;
    right: 1rem;
    top: 2.7rem;
    font-size: 2.8rem;
    color: theme.$dark-2;
  }
}
